.node {
  width: 23px;
  height: 23px;
  border: 1px solid black;
  background-color: white;
}

.start {
  background-color: red !important;
}
.finish {
  background-color: green !important;
}

.wall {
  background-color: black !important;
}
